.under-construction-container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    background: url(asstets/images/img-qtz-bg.svg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container {
    margin: auto;
    padding: 0 1rem;
}

.content-container {
    background: linear-gradient(143deg, rgba(0,101,60,1) 7%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 68%, rgba(0,101,60,0.3358720197063201) 80%, rgba(255,255,255,0) 90%);
    padding: 3rem 3rem;
    border-radius: 14px;
    position: relative;
    box-shadow: 0 10px 20px hsla(0, 0%, 4%, 0.323);
    z-index: 1;
    margin-top: 3rem;

    /* Réduction de la taille du composant et de son contenu */
    transform: scale(0.70); /* Réduit de 0.85 point l'élément' */
}
.content-container::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: rgba(0, 0, 0, 0.841) ;
    border-radius: inherit;
    z-index: -1;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo-container svg {
    width: 200px;
    height: auto;
}

h2 {
    text-transform: uppercase;
}

@media screen and (max-width: 525px) {
    .petit-text-sm {
      font-size: 10px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      line-height: 1.4; /* Hauteur d'une ligne */
    }
    .content-container {
        padding: 30px 25px;
        width: 100%;
    }
    .container {
        margin: 0!important;
    }
}


/* ==================
 * STYLE CTA - WHATSAPP / EMAIL
 */

 .cta {
    position: relative;
    padding: 20px 15px;
    border-radius: 7px;
    border: 1px solid #FFC900;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.cta:hover {
    background: #FFC900;
    box-shadow: 0 0 12px 2px rgba(255, 201, 0, 0.6); /* Réduction de l'effet néon */
    color: black;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.cta:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.cta::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 25px 10px #fff; /* Effet plus contenu */
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.cta:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.cta-container {
    display: inline-block;
}
.content-cta {
    display: flex;
}
.content-cta-text {
    text-align: left;
}